[submodule "indivo_client_py"]
	path = indivo_client_py
	url = git://github.com/sayan801/indivo_client_py.git
[submodule "ui/jmvc/steal"]
	path = ui/jmvc/steal
	url = https://github.com/sayan801/legacy-steal.git
[submodule "ui/jmvc/funcunit"]
	path = ui/jmvc/funcunit
	url = https://github.com/sayan801/funcunit.git
[submodule "apps/labs"]
	path = apps/labs
	url = git://github.com/sayan801/indivo_labs.git
[submodule "apps/medications"]
	path = apps/medications
	url = git://github.com/sayan801/indivo_medications.git
[submodule "apps/problems"]
	path = apps/problems
	url = git://github.com/sayan801/indivo_problems.git
[submodule "apps/allergies"]
	path = apps/allergies
	url = git://github.com/sayan801/indivo_allergies.git
[submodule "ui/jmvc/jquery"]
	path = ui/jmvc/jquery
	url = http://github.com/sayan801/jquerymx.git
